# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Prisma
apps/api/prisma/dev.db

# Biblioteca Digital (arquivos enviados localmente em dev)
apps/api/uploads/

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Misc
*.tsbuildinfo
.turbo/
